.summary-context-icon {
  cursor: pointer;
  color:#767676!important;
}
.summary-context-icon:hover {
  color:#fece56!important;
}

.summary-context-right{
  float:right;
  padding-left:10px;
}

.card{
  box-shadow:none!important;
}

.display-linebreak {
  white-space: pre-line;
}

.count-like {
  position: relative;
  bottom: 2px;
}