.reset-password-grid {
  height: 100%!important;
}

.reset-password-column {
  max-width: 300px!important;
  margin-top: 50px!important;
}

.reset-password-header {
  color: #527ec0!important;
  margin-top: 80px!important;
}

.reset-password-segment {
  padding: 20px 40px!important;
  border: none!important;
}