#header-menu-fix {
  background-color: red;
  margin-bottom: 100px;
}

.header-menu {
  background-color: #fff !important;
  border-bottom:none!important;
  box-shadow: none!important;
}


.header-right {
  padding:0!important;
  color:gray!important;
}

.header-right:last-of-type{
  padding-right:.92857143em!important;
}