.modal-content {
  padding:0!important;
}

.register-left{
  background-color: #5B7EBB;
  width: 40%
}
.register-left .header{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white
}

.description form {
  padding: 20px
}

.description form .button {
  margin:0 0 10px 0;
  color: white;
  background-color: #5B7EBB;
}